{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="chat-container" data-user-email="{{ user.email }}">
    <h2>Chat Room</h2>
    <div id="connection-status">Connecting...</div>
    <div id="chat-messages" class="chat-messages"></div>
    <div class="input-group">
        <input type="text" id="chat-message-input" class="form-control" placeholder="Type a message...">
        <button type="button" id="chat-message-submit" class="btn btn-primary">Send</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}